<footer>
    <div class="footer-section">
        <h4>DENGE<span style="color:#b2d235">SMART</span></h4>
        <hr size="1" width="100%" color="#b2d235">
        <div class="row">
            <div class="iletisim col-md-4">
                <div>
                    <p>Bulut Restoran Programı</p>
                </div>
                <div class="destek"> <a href="#">destek@arkhe.com.tr</a></div>
                <div class="destek"><a href="#">satis@arkhe.com.tr</a></div>
                <br>
                <div>Satış: (212) 356 93 00 (PBX)</div>
                <div>Destek: (212) 356 93 01</div>
            </div>

            <div class="linkler col-md-4">
                <ul>
                    <li><a href="#">Özellikler</a></li>
                    <li><a href="#">Fiyat</a></li>
                    <li><a href="#">Sipariş Ver</a></li>
                    <li><a href="#">Paket Karşılaştırma</a></li>
                    <li><a href="#">Ekranlar</a></li>
                    <li><a href="#">Hakkında</a></li>
                    <li><a href="#">İletişim Formu</a></li>
                </ul>
            </div>

            <div class="adres col-md-4">
                <p>ARKHE YAZILIM TEKNOLOJİLERİ</p>
                <p>Yıldız Teknik Üniversitesi Teknopark İkitelli
                    <br> OSB Mh. Y.T.Ü Teknopark Sk.
                    No:1/1B01 <br> Başakşehir-İSTANBUL</p>
                <a href="#">www.arkhe.com.tr</a>
            </div>
        </div>
    </div>
</footer>