<section>
<div class="table-responsive-md d-flex justify-content-center">
    <table class="table">
        <colgroup><col><col><col><col></colgroup>
        <thead>
            <tr>
                <th class="radius-left" scope="col">Açıklamalar</th>
                <th scope="col">BAŞLANGIÇ <br><div class="light-line"></div> <div class="dark-line">  </div> <div class="dark-line">  </div></th>
                <th scope="col">STANDART <br> <div class="light-line"></div><div class="light-line"></div> <div class="dark-line"></div></th>
                <th class="radius-right" scope="col">GELİŞMİŞ <br><div class="light-line"></div><div class="light-line"></div><div class="light-line"></div></th>

            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">Şube Sayısı</th>
                <th>Tek Şube</th>
                <th>Tek Şube</th>
                <th>Çoklu Şube</th>
            </tr>

            <tr>
                <th scope="row">Offline Çalışma</th>
                <th><i class="fas fa-check"></i></th>
                <th><i class="fas fa-check"></i></th>
                <th><i class="fas fa-check"></i></th>
            </tr>

            <tr>
                <th scope="row">Gelir Merkezi Sayısı</th>
                <th>1</th>
                <th><i class="fas fa-check"></i></th>
                <th><i class="fas fa-check"></i></th>

            </tr>

            <tr>
                <th scope="row">Masa Sayısı</th>
                <th>10</th>
                <th><i class="fas fa-check"></i></th>
                <th><i class="fas fa-check"></i></th>

            </tr>

            <tr>
                <th scope="row">Sipariş Yazıcı</th>
                <th>2</th>
                <th><i class="fas fa-check"></i></th>
                <th><i class="fas fa-check"></i></th>

            </tr>

            <tr>
                <th scope="row">Yemek Sepeti</th>
                <th><i class="fas fa-times"></i></th>
                <th>Limitli</th>
                <th><i class="fas fa-check"></i></th>

            </tr>

            <tr>
                <th scope="row">Mobil Terminal</th>
                <th><i class="fas fa-times"></i></th>
                <th>Opsiyonel</th>
                <th>Opsiyonel</th>

            </tr>

            <tr>
                <th scope="row">Stok</th>
                <th><i class="fas fa-times"></i></th>
                <th>Opsiyonel</th>
                <th>Opsiyonel</th>

            </tr>

            <tr>
                <th scope="row">Özel Entegrasyonlar</th>
                <th><i class="fas fa-times"></i></th>
                <th><i class="fas fa-times"></i></th>
                <th>Opsiyonel</th>

            </tr>

            <tr class="prices-row">
                <th scope="row">Paket Fiyatı</th>
                <th>69 ₺</th>
                <th>99 ₺</th>
                <th>149 ₺</th>

            </tr>

           



        </tbody>

    </table>
</div>

<ul class="d-flex justify-content-sm-center align-items-center">
    <li><button type="button" class="button1">Sipariş Ver</button></li>
    <li><button type="button" class="button2">Detaylı Karşılaştırma</button></li>
  </ul>
</section>