<section class="about">
  
    <!-- <div class="title-border"></div>  -->
    <div class="about d-flex flex-column justify-content-around align-items-center">
        <!-- <img width="50%" src="assets/DENGESMART_appmagaza-11.png" alt=""> -->
        <div><h1>Denge<span style="color: #b2d235; margin-right: 5px;">Smart</span> hakkında</h1></div>
        <div class="about-text-box d-flex align-items-center justify-content-center">
            <!-- <div class="text-icon"><i class="fas fa-comment-dots"></i></div> -->
            <div>
            <p>Arkhe’nin genç ve dinamik ekibi 15 yıldır sizler için çalışıyor. İhtiyaçlarınızı sizin kadar iyi bilen,
                başarılı Denge alt yapısını aldık; anlık ve güvenli raporlama sistemini ve deneyenlerin vazgeçemediği
                Denge
                kullanım rahatlığını daha da geliştirdik, değişen ihtiyaçlarınıza hızla adapte olabilen ve isteklerinize
                sorunsuz cevap verebilen yüzlerce özellik ekledik, görselleştirdik… Sonra da hepsini buluta
                yerleştirdik...
                Neden mi? Daha kolay ulaşabilin, daha az ödeyin, daha çok tavsiye edip daha fazla kişiye ulaşmasının
                sağlayın diye... Sizleri; daha akıllı, daha hızlı ve daha pratik otomasyon sistemimiz DENGE SMART ile
                tanıştırmaktan mutluluk duyuyoruz.</p>
            </div>
        </div>

   
    </div>

</section>