section{
    background-image: linear-gradient(90deg, #bece70, white, #bece70); 
   
    padding-top: 120px;
    padding-bottom: 200px;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    padding-top: 30px; 
    letter-spacing: 1px;
    color: #706c6c;
    margin-bottom: 50px;
    
   
}

.title-border{
    width: 200px;
    height: 2px;
    background-color: #b2d235;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

 .text-icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border:4px solid #605E5E;
    color: #605E5E;
    transform: rotate(45deg);
    margin: 20px;
    transition: 0.3s linear;
    margin-bottom: 50px;
} 

i{
    line-height: 60px;
    transform: rotate(-45deg);
   font-size:1.5rem ;
    color: #605E5E;
    margin-bottom:50px ;
} 

.about-text-box{
    width: 40%;
    padding: 40px;
    /* margin-left: 100px; */
    /* margin-top: 20px; */
}

/* .about-text-box:hover{
    border: 1px solid #c4d67a;
    border-radius: 10px;
} */

p{
    text-align: justify;
    font-size: 15px;
    line-height:24px;
    color: #302d2d;
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
}

img{
    border-radius: 40px;
    opacity: 0.8;
}

@media (max-width: 500px){
    .about{
        flex-direction: column;
    }

    .about-text-box{
        width: 100%;
    }
 }