<header>
  <nav class="navbar fixed-top navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand h1" href="#">Denge<span style="color: #b2d235;">Smart</span></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menu" aria-controls="Menu"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="Menu">
        <ul class="navbar-nav mr-auto w-100 justify-content-end" id="ul-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/ozellikler">ÖZELLİKLER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/fiyatlar">FİYATLAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ekranlar">EKRANLAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/hakkinda">HAKKINDA</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>

