
  <!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide [width]=200 [height]=355><img src="../../assets/ekran1.png" alt=""></ng-template>  
  <ng-template carouselSlide [width]=200 [height]=355><img src="../../assets/ekran2.png" alt=""></ng-template> 
  <ng-template carouselSlide [width]=200 [height]=355><img src="../../assets/ekran3.png" alt=""></ng-template>
  <ng-template carouselSlide [width]=200 [height]=355><img src="../../assets/ekran4.png" alt=""></ng-template>
  <ng-template carouselSlide [width]=200 [height]=355><img src="../../assets/ekran5.png" alt=""></ng-template>
  
</owl-carousel-o> -->

<div class="container">
  <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme', 'customClassName']">
    <div class="item"><img src="../../assets/ekran1.png" alt=""></div>
    <div class="item"><img src="../../assets/ekran2.png" alt=""></div>
    <div class="item"><img src="../../assets/ekran3.png" alt=""></div>
  </owl-carousel>
</div>
